#landing {
	> #land-slides {
		position: relative;
		display: flex; justify-content: center; align-items: center;
		width: calc(100% + 50px); min-height: 500px;
		transform: translateX(-25px);
		overflow: hidden;
		
		> .content {
			display: flex; flex-direction: column; gap: 20px;
			padding: 40px;
			z-index: 20;

			> h1 {
				color: $bg;
				margin: 0;
				
				> span {
					float: left;
					line-height: 1;
					font-size: 80px;
				}
			}

			#social-buttons {
				display: flex; align-items: center; gap: 20px;
				height: 40px;
				color: $bg;
				transition: transform 200ms;

				> a {
					height: 30px;
					
					> svg {
						height: 100%;
					}

					&:hover {
						transform: scale(1.25);
					}
				}
			}
		}

		> .overlay {
			position: absolute;
			width: 100%; height: 100%;
			background: $fg;
			opacity: 0.75;
			z-index: 10;
		}
		
		> img {
			position: absolute;
			min-width: 100%;
		}
	}

	> .content {
		> #land-news {
			display: flex; flex-direction: column; gap: 10px;
	
			> .mini-news {
				@media only screen and (max-width: 700px) {
					flex-direction: column;
					height: initial;
				}

				position: relative;
				display: flex;
				height: 100px;
				background: $fg; color: $bg;
				transition: transform 200ms;

				&:hover {
					transform: scale(1.05);
				}

				> img {
					width: 100px;
				}

				> div {
					display: flex; flex-direction: column;
					padding: 10px;
					margin-right: 70px;

					> * {
						margin: 0;
					}
	
					> h3 {
						font-size: 24px;
					}

					> .arrow {
						@media only screen and (max-width: 700px) {
							display: none;
						}

						position: absolute; top: 50%; right: 30px;
						height: 40px;
						transform: translateY(-50%);
					}
				}
			}
		}

		> #land-about {
			@media only screen and (max-width: 700px) {
				flex-direction: column; align-items: flex-start;

				#inter-logo {
					width: 100%;
				}
			}

			display: flex; align-items: center; gap: 40px;
			margin: 40px 0;

			#inter-logo-desc {
				position: fixed;
				max-width: 300px;
				padding: 8px 10px;
				background: $bg;
				border: 2px solid $fg;
				transform: translateY(-100%);
				pointer-events: none;
				visibility: hidden;
				z-index: 10;
			}

			#inter-logo {
				position: relative;
				flex: 1;

				> div {
					position: absolute;
					cursor: help;
				}
				
				> svg {
					height: 100%;
					
					> * {
						transition: opacity 200ms;
					}
				}
			}

			> div {
				flex: 3;

				> h1 {
					margin: 0;
				}
			}
		}
	}
}