$bg: #ffffff;
$fg: #30201e;
$ac: #d42031;

@font-face {
	font-family: Ocra;
	src: url("ocra.otf");
}

html, body {
	height: 100%;
	background: $bg; color: $fg;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

html {
	overflow: hidden;
}

body {
	display: flex; flex-direction: column;
	min-height: 100vh;
	overflow: hidden auto;
}

h1, h2, h3, h4, h5 {
	font-family: 'Lexend Deca', sans-serif;
}

*:first-child {
	margin-top: 0;
}

*:last-child {
	margin-bottom: 0;
}

a {
	position: relative;
	color: inherit;
	text-decoration: none;
	transition: color 200ms, transform 50ms;

	&:hover {
		color: $ac;

		&::after {
			width: 100%;
		}
	}

	&:active {
		transform: translateY(2px);
	}

	&::after {
		position: absolute; left: 0; bottom: -4px;
		content: '';
		display: block;
		width: 0%; height: 2px;
		background: currentColor;
		transition: width 200ms ease;
	}
}

svg {
	height: 1em;
	fill: currentColor;
}

button {
	cursor: pointer;
}

button, input, textarea {
	background: $bg;
	padding: 5px 8px;
	border: 3px solid $fg;
	font-family: inherit;
	font-size: 16px;
}

.page {
	@keyframes fly {
		0% { transform: translateX(25px); }
	}


	animation: fly 200ms;
	z-index: 10;

	> .content {
		display: flex; flex-direction: column;
		margin-top: 20px; margin-bottom: 20px;
	}
}

.content {
	width: 100%; max-width: 1000px; padding: 15px;
	margin-left: auto; margin-right: auto;
	box-sizing: border-box;
}

.logo {
	> .logo-dot {
		color: $ac;
	}
}

embed('client/wintegration/banner.scss')
embed('client/nav/nav.scss')
embed('client/landing/landing.scss')
embed('client/wintegration/wintegration.scss')
embed('client/members/members.scss')
embed('client/committees/committees.scss')
embed('client/contact/contact.scss')
embed('client/footer/footer.scss')