#news-list {
	display: flex; flex-direction: column; gap: 10px;

	> .mini-news {
		@media only screen and (max-width: 700px) {
			flex-direction: column;
			height: initial;

			img {
				width: 100%; height: 100%;
			}
		}

		position: relative;
		display: flex;
		height: 110px;
		background: $fg; color: $bg;
		border: 3px solid $fg;
		overflow: hidden;

		> .left {
			flex-grow: 1;
			display: flex; flex-direction: column;
			padding: 10px;

			> * {
				margin: 0;
			}
		}
		
		&:hover .arrow {
			opacity: 1;
		}

		.arrow {
			@media only screen and (max-width: 700px) {
				display: none;
			}

			opacity: 0;
			position: absolute; right: 0; top: 0;
			width: 40px; height: 40px;
			background: #00000080;
			backdrop-filter: blur(2px);
			padding: 35px;
			transition: opacity 200ms;
		}
	}
}

#news-page {
	.news-back {
		display: flex; align-items: center; gap: 5px;
		margin-bottom: 20px;
	}
	
	h1 {
		background: $fg; color: $bg;
		padding: 20px;
	}

	img {
		max-width: 100%;
		float: right;
		margin: 10px;
	}
}

.news-date {
	display: inline;
	background: $ac; color: $bg;
	padding: 0 4px;
	margin-right: 4px;
}