#wintegration {
	#wintegration-slides {
		display: flex; flex-wrap: wrap; gap: 10px;
		margin: 20px 0 60px 0;

		> div {
			width: 310px; height: 200px;
			background-size: auto 120%;
			background-position: center;
		}
	}

	#wintegration-register {
		background: #c91515; color: #fff;
		border-radius: 5px;
		text-decoration :none;
		padding: 8px;
	}

	#register {
		display: flex; flex-direction: column; gap: 10px;
		margin-top: 20px;

		label {
			display: flex; align-items: center; gap: 10px;

			> input, select {
				flex: 1;
			}
		}

		> #wintegration-register-success {
			color: green;
		}
	}
}