footer {
	flex-grow: 1;
	background: $fg; color: $bg;
	padding: 40px;
	z-index: 10;

	> .content {
		@media only screen and (max-width: 700px) {
			flex-direction: column;
		}

		display: flex; gap: 40px;

		> * {
			flex: 1;
			display: flex; flex-direction: column; gap: 10px;

			> h3 {
				font-size: 30px;
				margin: 0;
			}

			> a, span {
				font-size: 20px;
				opacity: 0.75;
			}
		}
	}
}